{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Start your development with Meyawo landing page." />
    <meta name="author" content="Devcrud" />
    <title>MyCV</title>
    <!-- font icons -->
    <link rel="stylesheet" href="{% static 'assets/vendors/themify-icons/css/themify-icons.css' %}" />
    <!-- Bootstrap + Meyawo main styles -->
    <link rel="stylesheet" href="{% static 'assets/css/meyawo.css' %}" />
  </head>
</html>
